canvas {
    outline: blue 3px solid;
    left: 0px;
    top: 0px;
}

div {
    position: relative;
    padding: 20px;
    overflow: auto;
}

svg {
    padding: 0px;
    position: absolute;
    left: 20px;
    top: 20px;
}
/* 
rect {
    stroke: "black";
    stroke-dasharray: 5;
    stroke-dashoffset: 5;
    animation: dash 1s linear alternate infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 5;
    }
    to {
      stroke-dashoffset: 0;
    }
  } */